* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Arial, sans-serif;
    background-color: #f4e1d2;

}

#prvi {

    background-color: #d2494e;
    border-top: 10px;
    border-bottom: 10px;

}

.horizontalna {

    list-style-type: none;
    display: inline-block;
    margin: 25px;
    
}

.horizontalna li {

    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 10px;

}

a {

    text-decoration: none;

}

.horizontalna li a {

    border: 2px solid #f4e1d2;
    border-radius: 5px;
    background-color: transparent;
    color: #f4e1d2;
    font-style: bold;
    font-size: 18px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.horizontalna li a:hover {

    background-color: #d2494e;
    border-color: #d2494e;
    border-style: dashed;

    color: #f4e1d2;
    background-color: #f4e1d2;
    border-color: #d2494e;


}

.horizontalna li a:active{

    background-color: #f4e1d2;
    color: white;
    text-decoration: underline, white;
    border-color: white;
    border-style: solid;

}

.horizontalna li a:visited {

    color: #ffddcc;
    border-color: #ffddcc;
    background-color: #7a3b3e;

}
