body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

form {
  background: white;
  padding: 20px 40px;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 5px;
}

button {
  margin-bottom: 10px;
}

